* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(/asset/img/bg1.png);
    background-size: cover;
    color: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
    background-attachment: fixed;
}

.container-prim {
    width: 100%;
    text-align: center;
}
.list-group {
    flex-direction: row!important;
    flex-wrap: wrap; /* Pour passer à une disposition en ligne sur les petits écrans */
    justify-content: center; /* Pour centrer les éléments sur les petits écrans */
    margin-top: 2%;
}

.list-group-second{
    margin-top: -2%;
    display: inline-flex;
    flex-direction: row!important;
    flex-wrap: wrap; /* Pour passer à une disposition en ligne sur les petits écrans */
    justify-content: center; /* Pour centrer les éléments sur les petits écrans */
}

ul{
    padding-left: 0!important;
}

.list-group-item {
    background: #012354!important;
    width: 210px;
    height: 325px;
    border-radius: 50px!important;
    border: solid 1px #010e1f!important;
    margin: 15px;
    opacity: 0.9;
}

.rl-pic-logo {
    max-width: 155px;
}

.rl-pic-img{
    max-width: 110px;
}

.rl-name {
    font-family: OCR A Std, monospace;
    margin: 5px;
    color: #FFF ;
}

.rl-logo {
    margin-top: -8%;
}

.network-rl {
    margin: 15px;
    color: #ff0a1e ;
    transition: all 1s;
}

.network-rl:hover {
    color: #dddddd;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.40);
}

.rl-poste{
    font-family: 'Poppins';
    margin: 5px;
    color: #fff;
    font-style: italic;
}
@media (max-width: 600px) {
    body{
        background: black!important;
    }
    .list-group-second{
        margin-top: -6%;
    }
    .list-group-item{
        width: 177px;
        height: 200px;
        margin: 5px!important;
        padding: 4rem!important;
        display: flex!important;
        border-radius: 25px!important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .rl-pic-logo{
        max-width: 75px;
    }
    .rl-pic-img{
        max-width: 50px;
    }
    .rl-logo{
        display: flex;
        gap: 7rem;
        margin-top: -37%;
    }
}