body {
    background: url(./asset/img/bg1.png);
    background-size: cover;
    color: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
    background-attachment: fixed;
}

.container-prim {
    width: 100%;
    text-align: center;
    color: white;
}

.test{
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    padding: 50px;
}

a{
    text-decoration: none!important;
    color: white!important;
}