* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(/asset/img/bg1.png);
    background-size: cover;
    color: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
    background-attachment: fixed;
}

.container-prim {
    width: 100%;
    text-align: center;
}

.roster-list {
    margin-top: 75px;
    display: inline-flex;
    flex-wrap: wrap; /* Pour passer à une disposition en ligne sur les petits écrans */
    justify-content: center; /* Pour centrer les éléments sur les petits écrans */
}

.roster-pic {
    background: #ff0a1e;
    width: 200px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
}

.lol {
    background: url(/asset/img/lol-bg.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    border: solid 1px grey;
    transition: all 1.5s;
}

.lol:hover,
.tft:hover {
    filter: grayscale(0);
    border: solid 1px #ff0a1e;
    box-shadow: 0 0 20px #ff0a1e;
}


.rl {
    background: url(/asset/img/rl-bg.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    border: solid 1px grey;
    transition: all 1.5s;
}

.rl:hover,
.valo:hover {
    filter: grayscale(0);
    border: solid 1px #010e1f;
    box-shadow: 0 0 20px #010e1f;
}


.tft {
    background: url(/asset/img/tft-bg.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    border: solid 1px grey;
    transition: all 1.5s;
}

.texte-image-lol,
.texte-image-rl ,
.texte-image-tft, 
.texte-image-valo  {
    color: white!important;
    opacity: 0;
    animation: fadeOut 0.3s ease-out;
}

.roster-pic:hover .texte-image-lol ,
.roster-pic:hover .texte-image-rl,
.roster-pic:hover .texte-image-tft, 
.roster-pic:hover .texte-image-valo {
    animation: fadeIn 0.2s ease-in;
    animation-fill-mode: forwards;
    color: white;
}

.valo {
    background: url(/asset/img/valo-bg.png);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    border: solid 1px grey;
    transition: all 1.5s;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
a{
    text-decoration: none!important;
}

@media (max-width: 600px) {
    body{
        background: black!important;
    }
    .roster-pic{
        width: 100vw;
        border-radius: 0;
        margin: 0;
    }
    .roster-list{
        gap: 2rem;
    }
    .lol,
    .rl,
    .tft,
    .valo{
        filter: grayscale(0);
    }

    .texte-image-lol,
    .texte-image-rl,
    .texte-image-tft,
    .texte-image-valo{
        color: red;
        animation: none;
        opacity: 1;
    }
}