* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(/asset/img/bg1.png);
    background-size: cover;
    color: #FFF;
    font-family: 'Orbitron', sans-serif;
    background-attachment: fixed;
}

.container-prim {
    width: 100%;
    text-align: center;
}

.roster-list {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.roster-pic {
    background: #ff0a1e;
    width: 200px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.roster-pic:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.8);
}

.lol {
    background: url(/asset/img/lol-bg.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    border: solid 1px grey;
    transition: all 1.5s;
}

.rl {
    background: url(/asset/img/rl-bg.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    border: solid 1px grey;
    transition: all 1.5s;
}

.tft {
    background: url(/asset/img/tft-bg.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    border: solid 1px grey;
    transition: all 1.5s;
}

.valo {
    background: url(/asset/img/valo-bg.png);
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
    border: solid 1px grey;
    transition: all 1.5s;
}

.lol:hover, .tft:hover {
    filter: grayscale(0);
    border: solid 1px #ff0a1e;
    box-shadow: 0 0 20px #ff0a1e;
}

.rl:hover, .valo:hover {
    filter: grayscale(0);
    border: solid 1px #010e1f;
    box-shadow: 0 0 20px #010e1f;
}

.texte-image-lol, .texte-image-rl, .texte-image-tft, .texte-image-valo {
    color: white !important;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-out;
}

.roster-pic:hover .texte-image-lol, .roster-pic:hover .texte-image-rl, .roster-pic:hover .texte-image-tft, .roster-pic:hover .texte-image-valo {
    opacity: 1;
    transition: opacity 0.3s ease-in;
    color: white;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

a {
    text-decoration: none !important;
}

@media (max-width: 600px) {
    body {
        background: black !important;
    }
    .roster-pic {
        width: 100vw;
        border-radius: 0;
        margin: 0;
    }
    .roster-list {
        gap: 2rem;
    }
    .lol, .rl, .tft, .valo {
        filter: grayscale(0);
    }
    .texte-image-lol, .texte-image-rl, .texte-image-tft, .texte-image-valo {
        color: red;
        opacity: 1;
    }
}